.user-form{
    .form-field-outer{
        width: 280px;
    }
    .mat-radio-button{
        margin-right: 12px;
    }
}

.vertical-tabs{
    height: 280px;
}

.mat-dialog-content{
max-height: 100%;
}