<mat-sidenav-container class="h-100" style="background-image: url(../../../assets/img/Jungle.jpg)">
  <div fxLayout="row" fxLayoutAlign="center center" class="h-100">
       <form [formGroup]="form" (ngSubmit)="login()" fxFlex="90" fxFlex.gt-sm="30" fxFlex.sm="60" class="mat-elevation-z6" style="background-color: white; border-radius: 10px">
            <app-content-header 
                [icon]="'exit_to_app'" 
                [title]="'ورود به حساب کاربری'" 
                [hasBgImage]="true" 
                [class]="'py-4'"></app-content-header>            
            <div class="p-3">
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">mail</mat-icon>
                    <input matInput placeholder="ایمیل" formControlName="email">
                    <mat-error *ngIf="form.controls['email'].errors?.required">وارد کردن ایمیل ضروری است</mat-error>
                    <mat-error *ngIf="form.controls['email'].hasError('invalidEmail')">آدرس ایمیل شما معتبر نیست</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-icon matPrefix class="mat-icon-sm mb-2 mr-2 secondary-text-color">lock</mat-icon>
                    <input matInput placeholder="رمز عبور" formControlName="password" type="password">
                    <mat-error *ngIf="form.controls['password'].errors?.required">وارد کردن رمز عبور ضروری است</mat-error>
                    <mat-error *ngIf="form.controls['password'].hasError('minlength')">طول رمز عبور باید حداقل 6 کارکتر باشد</mat-error>
                </mat-form-field>               
                <mat-slide-toggle formControlName="rememberMe" class="my-2">مرا به خاطر بسپار</mat-slide-toggle>
                <button mat-raised-button color="primary" class="mat-elevation-z6 w-100 mt-3" type="submit">ورود</button>
            </div>
        </form>
  </div>
</mat-sidenav-container>